<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
    <input type="text" class="form-control" aria-label="Sizing example input" [(ngModel)]="username" placeholder="enter your name"  aria-describedby="inputGroup-sizing-default">
  </div>
<br />
<br />

<div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm">AGE</span>
    <input type="number" class="form-control" [(ngModel)]="age" placeholder="enter your age" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
  </div>

<br>

<button type="button" (click)="save()" class="btn btn-primary btn-lg" >Save</button>
